<div class="row justify-content-md-center">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Header</h1>

      <p class="card-text">
        <h2><%= @user.name %>,</h2>
        <h3>We recommend <%= @coffee.name %></h3>
        <%= image_tag(@coffee.image_url, class: 'img-fluid w-50') %>
      </p>

      <p class="card-text">
        <a href="<%= @coffee.web_link %>">Information</a>
      </p>

      <p class="card-text">
        <a href="<%= @coffee.discount_link %>">Discount Link</a>
      </p>
    </div>
  </div>
</div>
