<div class="inner cover row justify-content-md-center v-centered-content main-content" role="main">
  <h3 class="card_font" style="padding: 20px; color: white;">Based on your note, we recommend <%= @coffee.name %>!</h3>

  <p class="card_font">
    <%= image_tag(@coffee.image_url, class: 'coffee-picture') %>
  </p>

  <p class="card_font" style="padding: 20px; color: white;">
    <a href="<%= @coffee.web_link %>">Learn more about <%= @coffee.name %> here</a>
  </p>

  <p class="card_font" style="padding: 20px; color: white;">
    <a href="<%= @coffee.discount_link %>">Get 1 free bag of <%= @coffee.name %> on us</a>
  </p>
</div>
